.wish-item {
	margin: 10px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
	background-color: #0E1213;
	border-radius: 10px;
}

.wish-wrapper {
	display: flex;
	align-items: center;
	column-gap: 10px;
	background-color: #0E1213;
}

.wish-text {
	font-size: 180%;
}

.remove-wish {
	font-size: 80%;
	transition: 0.2s ease;

	&:hover {
		cursor: pointer;
		color: rgb(255, 101, 101);
	}
}

.faicon {
	font-size: 250%;

	&:hover {
		cursor: pointer;
	}

	transition: 0.2s ease;
}

.xmark:hover {
	color: rgb(255, 101, 101);
}

.checkmark:hover {
	color: rgb(104, 241, 104);
}
